* {
  --orange: #ffa500;
  --white: #fff;
  --blue: #09063b;
  --grey: #808080;
  margin: 0;
  padding: 0;
}

img {
  width: 75px;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.orange {
  color: var(--orange);
}

.white {
  color: var(--white)
}

#home-nav {
  background-color: var(--blue);
  white-space: nowrap;
  padding: 30px 5%;
  border-bottom: 3px solid var(--orange);
}

.company {
  display: inline-block;
  font-weight: 800;
}

.links {
  float: right;
}

.link {
  display: inline;
  margin: 20px;
}

.link a {
  text-decoration: none;
  color: var(--white);
}

.link a:hover {
  color: var(--grey)
}

.current a {
  color: var(--orange);
}

#home-main {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
}

.title-main {
  font-size: 3rem;
  width: 50%;
  margin: auto;
  padding: 30px;
}

.description-main {
  font-size: 1.05rem;
  width: 85%;
  margin: auto;
}

.newsletter {
  white-space: nowrap;
  padding: 27.5px 10%;
  background-color: var(--blue);
}

.call-to-action {
  display: inline-block;
  color: var(--white);
}

.get-email {
  float: right;
}

.get-email > .text {
  padding: 7px;
  padding-right: 10px;
  border-style: none;
  border-radius: 0;
}

.get-email > .btn {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 7px;
}

#services {
  padding: 25px 0;
}

.article {
  display: inline-block;
  width: 29.5%;
  text-align: center;
  box-sizing: border-box;
  margin: 0 1%;
}

#left {
  margin-left: 3%;
}

#right {
  margin-right: 3%;
}

.article > .title-sub {
  margin: 10px 0;
}

.article > p {
  max-width: 320px;
  margin: auto;
}

.home-footer {
  background-color: var(--orange);
  color: var(--white);
  padding: 50px;
  text-align: center;
}
